@import url('https://fonts.googleapis.com/css?family=Mouse+Memoirs');

$red: #FF2E6A;
$blue: #2EE1FF;
$grey: rgb(206, 206, 206);
$darkerRed: rgb(196, 36, 81);
$darkerBlue: rgb(35, 179, 204);
$darkerGrey: rgb(126, 126, 126);

$thiccFont: 'Mouse Memoirs', sans-serif;


body {
    background: #efefef;
    overflow: hidden;
}
h1, h2, h3, h4 {
    font-family: $thiccFont;
}
a, a:active a:hover {
    color: inherit;
}
.redText {
    color: $red
}
.blueText {
    color: $blue
}
.container {
    margin: auto;
    max-width: 1200px;
    // position: relative;
}
.logo {
    font-family: $thiccFont;
    font-size: 60px;
    margin-bottom: 40px;
    cursor: pointer;

    span {
        font-size: 2rem;
    }
    &.small {
        float: left;
        font-size: 40px;
        display: inline-block;
    }
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }
.dropshadow {
    box-shadow: 7px 7px 0 rgb(223, 223, 223);
}
.skew {
    transform: skewY(-0.5deg);
    * {
        transform: skewY(0.5deg);
    }
}

.red {
    background-color: $red !important;
    box-shadow: 7px 7px 0 $darkerRed !important;
    &:hover {
        box-shadow: 8px 8px 0 $darkerRed !important;
    }
    &:active {
        box-shadow: 5px 5px 0 $darkerRed !important;
    }
}
.grey {
    background-color: $grey !important;
    box-shadow: 7px 7px 0 $darkerGrey !important;
    &:hover {
        box-shadow: 8px 8px 0 $darkerGrey !important;
    }
    &:active {
        box-shadow: 5px 5px 0 $darkerGrey !important;
    }
}
.blue {
    background-color: $blue;
    box-shadow: 7px 7px 0 $darkerBlue;
    &:hover {
        box-shadow: 8px 8px 0 $darkerBlue;
    }
    &:active {
        box-shadow: 5px 5px 0 $darkerBlue;
    }
}
.other {
    width: 100%;
    padding: 0 10px;
    display: flex;
    height: 250px;
    margin-top: 60px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow-y: hidden; 
    overflow-x: scroll; 
    
    * {
        width: 240px;
        height: 219px;
        color: #fff;
        font-size: 2.6rem;
        text-align: left;
        padding: 0;
        margin-right: 46px;
        cursor: pointer;
        * {
            padding: 5px;
            margin-top: 0;
            margin-left: 5px;
            padding-right: 20px;
        }
    }
    // :nth-child(even) {
    //     opacity: 0.5;
    //     background-color: $red !important;
    //     box-shadow: 7px 7px 0 $darkerRed !important;
    // }
}
.button {
    cursor: pointer;
    margin-top: 20px;
    display: inline-block;
    padding: 10px 20px;
    font-family: $thiccFont;
    color: #fff;
    font-size: 1.8rem;
    transition: 200ms ease-in-out;

    &:hover {
        transform: translate(-1px, -1px) skewY(-0.5deg);
    }
    &:active {
        transform: translate(2px, 2px) skewY(-0.5deg);
    }
    &.notselected {
        opacity: 0.2;
    }
}
.biginput {
    padding: 17px 0;
    width: 100%;
    background: #fff;
    display: inline-block;
    position: relative;
    input {
        border: none;
        padding: 20px;
        width: 90%;
        font-size: 27px;
        outline: none;
        font-weight: bold;

        &::placeholder {
            color: #cfcfcf;
            font-weight: bold;
        }
    }
}
.backdrop {
    position: absolute;
    width: 190%;
    height: 200vh;
    background: #b1b1b1;
    opacity: 0.95;
    z-index: 900090;
    -webkit-transition: 1s;
    transition: 1s;
    margin-top: -100px;
    margin-left: -400px;
}
.modal {
	left: 0;
	right: 0;
	margin: auto;
	width: 500px;
	min-height: 200px;
	margin-top: 100px;
	box-shadow: 0px 2px 120px 0px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	background:#f5f5f5;
	position: absolute;
	z-index: 900091;
	max-height: 80vh;
    overflow: hidden;
    .modal_content {
        padding: 20px 20px 40px 20px;
    }
    .biginput {
        width: 90%;

    }
}






.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
	opacity: 0;
}
.slideup-enter-active {
	animation: slideup 0.5s;
}
.slideup-leave-active {
	animation: slideup 0.3s reverse;
}
@keyframes slideup {
	0% {
		transform: translateY(100px);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	60% {
		transform: translateY(-5px);
	}
	100% {
		transform: translateY(0);
	}
}